# =========================
# Ambiente
# =========================
.env
.env.*
!.env.example

# =========================
# PHP
# =========================
/vendor/

# =========================
# Logs
# =========================
*.log
/logs/

# =========================
# Docker
# =========================
docker/mysql/data/
/docker/mysql/logs/

# =========================
# IDE / VS Code
# =========================
.vscode/
.idea/

# =========================
# Sistema operacional
# =========================
.DS_Store
Thumbs.db

# =========================
# Arquivos temporarios
# =========================
*.tmp
*.temp
*.swp